@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0 )
{
    <li class="nav-item">
        <a id="cart-icon" class="nav-link " asp-controller="ShoppingCart" asp-action="Index" onmouseover="">
            <span id="cart-status" class="fa fa-shopping-cart "></span>
            <sup id="cart-statusSup">@Model.ShoppingCart.ShoppingCartItems.Count</sup>
                
        </a>
    </li>
}
